.card {
  background-color: white;
}

.card-header {
  border-bottom: none;
}

.data-row {
  transition: background-color 0.2s ease;
  position: relative;
  border-radius: 8px;

  // Show edit icon on hover
  &.row-clicked{
    background-color: #fcfca1 !important;
  }
  &:hover {
    background-color: #c7c7c7;

    .edit-icon {
      opacity: 1;
      transform: translateX(0);
      pointer-events: auto;
    }
  }

  // Also show edit icon if card is in editing mode (show-edit class)
  &.show-edit {
    .edit-icon {
      opacity: 1 !important;
      transform: translateX(0) !important;
      pointer-events: auto !important;
    }
  }
}

.edit-icon {
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(10px);
  color: #6c757d;
  pointer-events: none;

  &:hover {
    color: #0d6efd;
  }
}
